body {
  background-color: #fff;
  font-size: small;
  color: #222;
  font-family: arial, sans-serif;
}

form {
  border-radius: 25px;
}

#top-page {
  margin-top: 47px;
  height: 233px;
  margin-top: 89px;
}

.grid-container {
  display: grid;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.image-example {
  width: 60vw;
  min-width: 360px;
  text-align: center;
  margin: 5% auto;
  background-color: #fff;
}

